@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body, html{
  margin: 0 auto;
  min-height: 100vh;
}

header {
  text-align: center;
  color: white;
  background-color: black;
}

header > h1 {
  font-family: "Passion One", sans-serif;
  padding-top: 50px;
  font-variant: small-caps;
  font-size: 10vh;
}

header > p {
  padding-bottom: 50px;
}

main p {
  margin: 30px 0px 30px 20px;
  text-align: left;
  font-family: "Sriracha", cursive;
  font-size: 3.5vh;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#conteiner {
  padding: 10px 0;
  background-color: darkgray;
  background-image: url(../imagens/background001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#conteiner2 {
  padding: 10px 0;
  background: darkgray url(../imagens/background002.jpg) center center no-repeat fixed
}
.conteinerp {
  display: inline-block;
  background-color: #0000006B;
  color: #FFFFFFD9;
  padding: 20px;
  margin-left: 20px;
  font-size: 3vh;
}

.espaco {
  padding-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 3vh;
}